$bgBody: #21232e;
$bgHeader: url(../img/m-h-night.jpg);
$headingTextColor: white;
$logoTextColor: white;
$blockTextColor: #d1cfc5;
$fontMain: 'Fresca', sans-serif;
$fontAddition: 'Fresca', sans-serif;
$underlineColor: #ff4e33;
$btnColor: #e3ac00;
$gradientColor: #922b53;
$cardColor: #3b3f50;