$bgBody: white;
$bgHeader: url(../img/m-h-day.jpg);
$headingTextColor: #2c2f3c;
$logoTextColor: #2c2f3c;
$blockTextColor: #d5d7dd;
$fontMain: 'Source Sans Pro', sans-serif;
$fontAddition: 'Hind', sans-serif;
$underlineColor: #14a0c7;
$btnColor: #699900;
$gradientColor: #2c5add;
$cardColor: #21232e;