* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    min-width: 880px;
    font-size: 1vw;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.wrapper {
    width: 90%;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
}

header {
    display: flex;
    position: relative;
    justify-content: center;
    height: 105vh;
    background: url(../img/sample2.jpg) center no-repeat;
    background-size: cover;
    color: #F3F3F3;
    z-index: 1;
}

header::after {
    content: "";
    background: black;
    position: absolute;
    display: block;
    width: 100%;
    height: 23vw;
    clip-path: polygon(100% 0, 0 0, 100% 100%);
    bottom: calc(-23vw + 1px);
    z-index: 0;
}

header .wrapper {
    position: relative;
    justify-content: space-between;
}

.top-line {
    justify-content: space-between;
    font-size: 1.2vw;
    margin-top: 3em;
}

.logo {
    text-transform: uppercase;
    letter-spacing: .2em;
}

.login {
    width: 10em;
    justify-content: space-between;
}

.main-text {
    text-align: center;
    margin-top: 3vw;
}

.main-text h1 {
    align-self: center;
    font-size: 4.5vw;
    text-transform: uppercase;
    letter-spacing: .2em;
    font-weight: normal;
    margin: 0;
}

.main-text span {
    font-size: 1.8em;
}

.main-text p {
    font-size: 1.2vw;
    margin: .5em 0 0;
}

.header-nav {
    margin-bottom: 8.5vw;
    padding: 0 4vw;
}

.header-nav ul {
    justify-content: space-around;
    margin: 0;
}

.header-nav a {
    font-size: 1.2vw;
    min-width: 10em;
    padding: 1.3em 6vw;
    border: 2px solid #F3F3F3;
}

.head-add-text {
    display: block;
    position: absolute;
    font-size: 1.2vw;
    bottom: -17vh;
    right: 0;
    height: 15vh;
    width: 45vw;
    z-index: 1;
}

.head-add-text p {
    margin: 0;
}

main {
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F3F3F3;
}

.main-add-text {
    font-size: 1.4vw;
    width: 30vw;
    margin-top: 10vh;
    white-space: pre-line;
}

.main-add-text span {
    font-weight: bold;
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding-bottom: 2vw;
}

.content h2, .email h2 {
    font-size: 2vw;
    font-weight: normal;
}
.content span, .email span {
    font-weight: bold;
}

.content .container:nth-child(odd) {
    flex-direction: row-reverse;
}

.content .container {
    margin: 1vw 0;
    justify-content: space-between;
}

img {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.img-art {
    position: relative;
    max-width: 50%;
    box-shadow: inset 0vw -5vw 5vw 0vw rgba(0, 0, 0, 0.5);
}

.like {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 5vw;
    height: 3vw;
    border: 2px solid white;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    position: absolute;
    right: 2vw;
    top: 2vw;
}

.img-art p {
    position: absolute;
    color: white;
    bottom: 1vw;
    left: 2vw;
}

.img-art p span {
    font-weight: bold;
}

.text {
    font-size: 1.1vw;
    padding: 1vw;
    width: 47%;
    align-self: center;
}

.text p:not(:last-child) {
    margin-bottom: 4vw;
}

.cards {
    display: flex;
    justify-content: center;
    width: 100%;
    background: white;
    padding: 2vw;
}

.cards .wrapper {
    justify-content: center;
}

.cards .container {
    justify-content: space-around;
}

.img-card {
    position: relative;
    min-width: 0;
    width: 20vw;
    height: 27vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: inset 0vw -5vw 5vw 0vw rgba(0, 0, 0, 0.5);
}

.img-card:nth-child(1) {
    background: url(../img/news-list-1.jpg) no-repeat left/cover;
}

.img-card:nth-child(2) {
    background: url(../img/news-list-2.jpg) no-repeat left/cover;
}

.img-card:nth-child(3) {
    background: url(../img/news-list-3.jpg) no-repeat left/cover;
}

.img-card:nth-child(4) {
    background: url(../img/news-list-4.jpg) no-repeat left/cover;
}

.img-card p {
    position: absolute;
    color: white;
    bottom: 1vw;
    left: 1vw;
}

.img-card p span {
    font-weight: bold;
}

.img-card a {
    position: absolute;
    bottom: 50%;
    font-size: 1.1vw;
    font-weight: bold;
    color: white;
    align-self: center;
    padding: 1em 6vw;
    background-color: #097774;
    opacity: .8;
}

.news-button {
    margin: 3vw;
    color: #ffffff;
    width: 20vw;
    height: 3vw;
    font-size: 1.2vw;
    background-color: #097774;
    border: none;
    align-self: center;
}

.form {
    display: flex;
    justify-content: center;
}
.form .wrapper {
    width: 95%;
    padding: 3vw 0;
}

.email {
    align-items: center;
    justify-content: flex-end;
    background-color: #f3f3f3;
}

.input {
    font-size: 1vw;
    padding: 1vw;
    margin-left: 30px;
    background: #F3F3F3;
    border: 1px solid black;
}

.suscribe {
    font-size: 1vw;
    padding: 1vw;
    margin-left: 1vw;
    background-color: #097774;
    border: none;
    color: white;
}

footer {
    display: flex;
    justify-content: space-between;
}

.footer-nav li {
    width: 5vw;
    justify-content: space-between;
}